* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #666;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

footer {
  background-color: #666;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
}