{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}"/>
  {% block styles %}{% endblock styles %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <nav>
    <ul>
      <h3>Logo</h3>
      <li><a href="#">Herencia</a></li>
      <li><a href="#">Otra</a></li>
      <li><a href="#">Ejemplo</a></li>
    </ul>
  </nav>
  <main>
    {% block main %}{% endblock main %}
  </main>
  <footer>
    <p>Todos los derechos reservados</p>
  </footer>
  {% block scripts %}{% endblock scripts %}
</body>
</html>